/FEWS_Admin_LZ_v3.cpg
/FEWS_Admin_LZ_v3.dbf
/FEWS_Admin_LZ_v3.prj
/FEWS_Admin_LZ_v3.sbn
/FEWS_Admin_LZ_v3.sbx
/FEWS_Admin_LZ_v3.shp
/FEWS_Admin_LZ_v3.shp.xml
/FEWS_Admin_LZ_v3.shx
/FEWS_Admin_LZ_v3_mollweide.cpg
/FEWS_Admin_LZ_v3_mollweide.dbf
/FEWS_Admin_LZ_v3_mollweide.prj
/FEWS_Admin_LZ_v3_mollweide.qpj
/FEWS_Admin_LZ_v3_mollweide.shp
/FEWS_Admin_LZ_v3_mollweide.shx
/gadm_410-levels.gpkg
